.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

main {
  display: flex;
  gap: 60px;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 22px;
}

main::-webkit-scrollbar {
  width: 8px !important;
  background: transparent;
}

main::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(63, 67, 80, 0.24);
}

main::-webkit-scrollbar-thumb:hover {
  background: rgba(63, 67, 80, 0.32);
}

@media (max-width: 901px) {
  main {
    flex-direction: column-reverse;
    margin-bottom: 100px;
  }
}

@media (max-width: 560px) {
  main {
    height: auto;
  }
}
