header {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #D9D9D9;
  padding: 12px 0 14px;

  img {
    width: 222px;
  }
}

.back {
  display: flex;
  align-items: center;
  gap: 8px;
}

header {
  p {
    color: #549BFF;

  }
}
header .button {
  padding: 0;
}
