.payScreen_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 60px;
  padding: 10px;
  padding-top: 0;
  color: #112d55;
}

@media (max-width: 901px) {
  .payScreen_content {
    flex-direction: column;
  }
}

.table_payContent {
  font-weight: 700;

}

.pay_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 538px;
}

@media (max-width: 901px) {
  .pay_content {
    min-height: auto;
  }
}

.title_pay_content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  gap: 10px;
  border-bottom: 2px solid #d9d9d9;
  border-right: 2px solid #d9d9d9;
  border-left: 2px solid #d9d9d9;
}

.title_info_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  gap: 10px;
}

.wrapper_table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.wrapper_table_container {
  width: 100%;
  height: 80%;
  max-height: 380px;
  flex-grow: 1;
  border-right: 2px solid #d9d9d9;
  border-left: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
  overflow-y: auto;
}

.wrapper_table_container td {
  text-align: center;
}

.value_pay {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 25px;
}

.img_content{
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 5px;
}
.img_content img {

  width: 40px;
  height: auto;
}

.close_cart_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 538px;
}

.info_content {
  display: flex;
  flex-wrap: wrap;
  min-height: 300px;
  width: 100%;
  gap: 15px;
  padding: 10px;
}

.btn_close_cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 15px;

  .button {
    width: 60%;
  }
}
