.modal_items_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 998;
  background-color: #1f1f1fbd;
}

.content_itemns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  width: 100%;
  height: 90%;
  max-width: 856px;
  max-height: 735px;
  border-radius: 8px;
  background-color: #e0e0cf;
}

.inner_cart_item {
  height: 30px;

  img {
    width: 20px;
    height: auto;
  }
}
.btn_finish {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px 0;
  box-shadow: 0 -2px 20px 1px #00000038;
}

.btn_finish .button {
  max-width: 300px;
}

.edit_delete {
  display: flex;
  gap: 9px;
  width: 30px;
  height: 30px;
}

.btn_actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  height: 100%;
  background-color: red;
}
