.modal_carts_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 22px;
  overflow: hidden;
  z-index: 999;
  background-color: #112d5592;
  color: #112D55;
}

.content_carts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 100%;
  height: 90%;
  max-width: 856px;
  max-height: 735px;
  border-radius: 8px;
  padding: 50px;
  background-color: #fff;
}

.header_content_carts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title_content_carts {
  display: flex;
  align-items: center;
  gap: 16px;

  img {
    width: 30px;
    height: auto;
  }
}

.table_items_carts {
  width: 100%;
  overflow: auto;

  table {
    text-align: center;
    color: #112D55;
  }

  thead {
    font-weight: 700;
  }
}
