.table_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 538px;
}

.overflow {
  overflow: scroll;
  width: 100%;
  height: 100%;
  max-height: 350px;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
  width: 100%;
  height: auto;
  color: #112d55;
}

.table_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border-left: solid 1px #d9d9d9;
  border-right: solid 1px #d9d9d9;
  overflow: auto;
  scroll-behavior: smooth;
}

.inner::-webkit-scrollbar {
  width: 8px !important;
  background: transparent;
}

.inner::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(63, 67, 80, 0.24);
}

.inner::-webkit-scrollbar-thumb:hover {
  background: rgba(63, 67, 80, 0.32);
}

@media (max-width: 901px) {
  .inner {
    border-top: solid 1px #d9d9d9;
  }
}

.table_hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  width: 100%;
  height: 100%;
  padding: 10px 0 20px;
  border-bottom: solid 2px #d9d9d9;
  max-height: 88px;

  h2 {
    color: #112d55;
    font-weight: 600;
  }

  img {
    width: 40px;
    height: auto;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead tr {
  height: 40px;
}

tbody tr td {
  text-align: center;
}

thead tr th p {
  font-size: 16px;
  text-align: center;
}

tbody tr {
  height: 60px;
  border-bottom: 1px solid #e9ebf1;
}

tbody tr:hover {
  background-color: aliceblue;
}

tbody tr:first-child {
  border-top: 1px solid #e9ebf1;
}

.actions_table {
  display: flex;
  gap: 6px;
}

.actions_table button img {
  width: 18px;
}

tbody tr td p {
  text-align: center;
  font-size: 14px;
}

.value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px;
  border: solid 1px #d9d9d9;
  border-top: none;
  box-shadow: 0 -2px 20px 1px #00000014;
}

.value .quantity,
.value .price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.btn_quantity_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn_quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 4px;
}

.btn_quantity button {
  width: 23px;
}

.btn_quantity input {
  width: auto;
  padding: 0;
  max-width: 31px;
  text-align: center;
  border-left: 2px solid #e3dcdc;
  border-right: 1px solid #e3dcdc;
}

.value h1 {
  color: #112d55;
  font-size: 22px;
  line-height: 0;
}

.value h2 {
  color: #112d55;
  font-size: 18px;
}

.btn_submit {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn_submit .button {
  max-width: 420px;
}

.without_date {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.without_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 54px;
  width: 100%;
  height: 100%;

  img {
    width: 100px;
    height: auto;
  }
}

.without_content p {
  color: #112d55;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  max-width: 298.95px;
}
